[mysqld_multi]
mysqld = /usr/sbin/mysqld
mysqladmin = /usr/bin/mysqladmin
user = root

[mysqld]
table_cache     = 2048
thread_cache_size = 16
back_log = 100
max_connect_errors = 10000
open-files-limit = 20000
interactive_timeout = 28800
wait_timeout = 360000

max_connections = 600
group_concat_max_len = 16384
max_allowed_packet = 100M
tmp_table_size = 64M
max_heap_table_size = 64M
query_cache_size = 32M
sort_buffer_size = 8M
read_buffer_size = 1M
read_rnd_buffer_size = 8M
join_buffer_size = 1M

key_buffer              = 10G
myisam_sort_buffer_size = 2048M
bulk_insert_buffer_size=1024M

innodb_buffer_pool_size = 4G
innodb_flush_method = O_DIRECT
innodb_log_file_size = 200M
sync_binlog = 0
skip-slave-start

slow_query_log = 1
long_query_time = 5
log-slow-slave-statements=1

[mysqld1]
socket          = /var/lib/mysql/db6.sock
pid-file        = /var/lib/mysql/db6.pid
datadir         = /var/lib/mysql/db6
tmpdir          = /mysqltmp/db6
bind-address    = 192.168.209.44
skip-external-locking
user            = mysql

group_concat_max_len=16384

#Replication
server-id               = 243

## Logging
log_error = /var/log/mysql/mysqld_db6.log
slow_query_log = 1
slow_query_log_file = /var/log/mysql/slow_query_db6.log
long_query_time = 5

log-bin		= /mysqltmp/db6/db6-bin-log
log-bin-index = /mysqltmp/db6/db6-bin-log.index
relay-log = /mysqltmp/db6/db6-relaylog
slave-skip-errors=1146

[mysqld2]
socket          = /var/lib/mysql/db7.sock
pid-file        = /var/lib/mysql/db7.pid
datadir         = /var/lib/mysql/db7
tmpdir          = /mysqltmp/db7
bind-address    = 192.168.209.45
skip-external-locking
user            = mysql

group_concat_max_len=16384

#Replication
server-id               = 245

## Logging
log_error = /var/log/mysql/mysqld_db7.log
slow_query_log = 1
slow_query_log_file = /var/log/mysql/slow_query_db7.log
long_query_time = 5

log-bin		= /mysqltmp/db7/db7-bin-log
log-bin-index = /mysqltmp/db7/db7-bin-log.index
relay-log = /mysqltmp/db7/db7-relaylog

[mysqld3]
socket          = /var/lib/mysql/uatdb5.sock
pid-file        = /var/lib/mysql/uatdb5.pid
datadir         = /var/lib/mysql/uatdb5
tmpdir          = /mysqltmp/uatdb5
bind-address    = 192.168.209.43
skip-external-locking
user            = mysql

group_concat_max_len=16384

#Replication
server-id               = 244

## Logging
log_error = /var/log/mysql/mysqld_uatdb5.log
slow_query_log = 1
slow_query_log_file = /var/log/mysql/slow_query_uatdb5.log
long_query_time = 5

log-bin		= /mysqltmp/uatdb5/uatdb5-bin-log
log-bin-index = /mysqltmp/uatdb5/uatdb5-bin-log.index
relay-log = /mysqltmp/uatdb5/uatdb5-relaylog


[mysqldump]
quick
quote-names
max_allowed_packet      = 100M

[mysql]
#no-auto-rehash # faster start of mysql but no tab completition

[isamchk]
key_buffer              = 16M

#
# * IMPORTANT: Additional settings that can override those from this file!
#   The files must end with '.cnf', otherwise they'll be ignored.
#
!includedir /etc/mysql/conf.d/
